DRunClient/Temp/
DRunClient/obj/
DRunClient/Library/
DRunClient/Build/*
DRunClient/Logs/
DRunClient/Packages/packages-lock.json
DRunClient/UserSettings/
DRunClient/.vs/
DRunClient/.vsconfig
*.csproj
*.apk
Built
DRunClient/DRunClient.sln
DRunClient/ProjectSettings/ProjectVersion.txt
Module/Native/project/
ARFoundationRemoteCompanionApp
Module/Native/project_androidstudio/.idea/
DRunClient/Assets/Plugins/Android/*.jar
DRunClient/Assets/Plugins/Android/*.jar.meta
DRunClient/Assets/Plugins/Android/*.aar
DRunClient/Assets/Plugins/Android/*.aar.meta
*.aab
*.symbols.zip
Module/FestaAndroidRes/.idea/
DRunClient/ios_build
DRunClient/*DontShipItWithYourGame*
DRunClient/*_DoNotShip
DRunClient/fastlane/
Module/AndroidCoreService/.idea/
DRunClient/remote_config_data
android-build
android-build_BurstDebugInformation_DoNotShip
.idea